<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container">
        <a href="/" class="navbar-brand">Mon Application</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mobile-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link">Accueil</a>
                </li>
                <li class="nav-item">
                   <a href="{{ path('articles') }}" class="nav-link">Ajout Articles</a>

                </li>
                <!-- Ajoutez d'autres liens de navigation si nécessaire -->
            </ul>
        </div>
    </div>
</nav>
